.PianoDescrizione {
  width: 100%;
}

.PianoDescrizione .field {
  padding: 0 15px;
}

.Pubblica .container .PianoDescrizione .ant-row {
  width: auto;
}

.PianoDescrizione .field:first-child {
  padding-left: 0;
}
.PianoDescrizione .field:last-child {
  padding-right: 0;
}

.PianoDescrizione button {
  margin: 0 5px;
  font-size: 0.7rem;
}

.PianoDescrizione button:first-child {
  margin-left: 0;
}

.PianoDescrizione button:last-child {
  margin-right: 0;
}

.PianoDescrizione .dettagli {
  display: flex;
}

.PianoDescrizione .dettagli > div {
  flex: 25%;
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--orange-5);
  border-radius: 4px;
}

.PianoDescrizione .dettagli > div:first-child {
  margin-left: 0;
}
.PianoDescrizione .dettagli > div:last-child {
  margin-right: 0;
}
