.Immobile .vetrine,
.Immobile .bancone,
.Immobile .bagni {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.Immobile .nascondi-indirizzo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.Immobile .nascondi-indirizzo .ant-form-item-label {
  margin-left: 10px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}
.ant-divider-inner-text {
  font-size: 24px;
  font-weight: bold;
}

.others .ant-form-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.others .ant-form-item.reverse {
  flex-direction: row;
  justify-content: flex-start;
}

.others .ant-form-item > *:last-child {
  margin-right: 8px;
}

#root .others .ant-input-number {
  width: 60px;
}

.others {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 20px;
}
