.DatiDiBase .cucina,
.DatiDiBase .canna-fumaria {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.DatiDiBase .cucina .ant-form-item-label,
.DatiDiBase .canna-fumaria .ant-form-item-label {
  margin-left: 10px;
}
